default_language_version:
  python: python3.10

repos:
  # Pylint
  - repo: https://github.com/pycqa/pylint
    rev: v2.16.2
    hooks:
      - id: pylint

  # isort
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort

  # autopep8
  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.1
    hooks:
      - id: autopep8

  # pre-commit-hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace # Trim trailing whitespace
      - id: check-yaml # Attempt to load all yaml files to verify syntax
      - id: check-merge-conflict # Check for files that contain merge conflict strings
      - id: double-quote-string-fixer # Replace double quoted strings with single quoted strings
      - id: end-of-file-fixer # Make sure files end in a newline and only a newline
      - id: fix-encoding-pragma # Remove the coding pragma: # -*- coding: utf-8 -*-
        args: ["--remove"]
      - id: mixed-line-ending # Replace or check mixed line ending
        args: ["--fix=lf"]

  # poetry
  - repo: https://github.com/python-poetry/poetry
    rev: "1.3.0" # add version here
    hooks:
      - id: poetry-check
      - id: poetry-lock
